.order-detail-row {
    background-color: #e9ecef3d;
   .card-img-top {
    height: 125px ;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
   }
}

.order-detail-title {
    background-color: #e9ecef3d;
}

