.slider {
    position: relative;
    margin: 20px 0;
    .content {
        position: absolute;
        z-index: 10;
        top: calc(50% - 70px);
        text-align: center;
        width: 400px;
        background-color: transparent;
        border: none;
        h2, p {
            color: white;
            // max-width: 50%; 
            // margin: 0 auto;
        }
    }
    .swiper {
        border: none;
        .swiper-wrapper {
            border: none;
            .swiper-slide {
                border: none !important;
            }
        }
    }
    .swiper-button-next, .swiper-button-prev, .swiper-pagination, .swiper-item__img {
        border: none;
    }
   
    .swiper-item {
        height: 400px;

        .swiper-item__img {

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}