.forgot-pw {
    padding-left: 20px;
    .title {
        border-bottom: #80808052 1px solid;
    }
    .forgot-pw__content {
        padding: 50px;
        .input-box {
            padding: 10px 0;
            label {
                min-width: 200px;
            }
            input {
                outline: none;
                padding: 7px 10px;
                width: 100%;
                max-width: 350px;
            }
        }
        .btn-submit {
            margin-top: 30px;
            text-align: center;
            button {
                outline: none;
                border: none;
                background-color: red;
                color: white;
                padding: 6px 20px;
                border-radius: 3px;
            }
        }
    }
}