

#account-modal {
    position: relative;
    overflow: hidden !important;
    .title {
        padding-top: 10px;
    }
    .add-user-form {
        padding: 10px;
        label {
            padding-bottom: 3px;
        }
    }
    .add-account-modal__submit-btn button{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

