header {
    padding-bottom: 10px;
    li {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    hr {
        margin-top: 10px;
    }
    .header-top {
            .logo {
                img {
                margin-top: 10px;
                height:auto;
                width: 200px;
                }
            }
            .header-top-right {
                
                text-align: right;
                padding: 10px 0;
                .link-to-cart {
                    margin: 0 20px;
                    .cart-icon {
                        font-size: 25px;
                        margin: 0 5px;
                    }
                }
                span {
                    position: relative;
                    padding-bottom: 10px;
                    &:hover ul {
                        display: block;
                    }
                    .user-action {
                        padding: 0;
                        position: absolute;
                        top: calc(100%);
                        right: 0;
                        width: 190px;
                        text-align: left;
                        display: none;
                        border: 1px solid gray;
                        box-shadow: 0 3px 3px 2px #80808024;
                        z-index: 100;
                        background-color: white;
                        li{
                            padding: 4px 15px;
                            cursor: pointer;
                        &:hover {
                            background-color: #80808024;
                        }
                    }
                    }
                }
                button {
                    margin: 2px;
                    
                    border: none;
                    outline: none;
                    border-radius: 10%;
                    &:hover {
                        background-color:#00aaff;
                    }
                    &:hover a {
                        color: white;
                    }
                    a {
                        padding: 10px;
                        display: inline-block;
                    }
                }
            }
            .search {
                text-align: center;
                position: relative;
               display: inline-block;
               margin: 10px auto;
               width: 70%;
               input {
                   padding: 5px 38px 5px 5px;
                   width: 100%;
               }
               .search-icon {
                position:absolute;  
                font-size: 20px;
                top: -3px; 
                right: 10px;
                padding: 5px 12px;
                cursor: pointer;
               }
            }
        }
    
    }

   