.order {
  .title-row {
    background-color: #e9ecef3d;
    margin: 10px 0;
    text-align: center;
  }
  .content {
    background-color: #e9ecef3d;
    margin: 40px 0 !important;
    box-shadow: 0 0 3px 2px aqua;
    .history-img-top {
      height: 100px;
      width: 100%;
      img {
        object-fit: cover;
        height: 100%;
      }
    }
    p {
      text-align: center;
    }
    .price {
    }
    .quantity {
      button {
        font-size: 20px;
        border: none;
        outline: none;
      }
    }
    .total-price {
    }
    .action:hover {
      color: red;
      cursor: pointer;
    }
  }
}
