.members {
  .swiper-slide {
      width: 210px;
    h2 {
        padding: 25px 0;
        color: orange;
    }
    .item {
        .avatar {
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 20px;
            img {
                width: 100%;
                height: auto;
            }
        }
        h4 {
            text-align: center;
            margin: 10px 0;
        }
        p {
            margin: 0;
            span {
                float: right;
            }
            &:last-child {
                margin-top: 20px;
                text-align: center;
            }
            .star-icon {
                font-size: 20px;
            }
        }
    }
  }
}